/*==========================================
■CONTACT_PAGE
============================================*/
.contact{
    p{
        color: #24afff;
        font-size: 40px;
        padding: 20px;
        //background: $color-page;
    }
    li{
        list-style: none;
    }
}
/*==========================================
■CONTACT_PAGE
============================================*/