/*==========================================
■HOME
============================================*/
//@import '../generic/mixins';
.color{
    //color: $color-page;
}
aside{
    h4{
        font-size: 40px;
    }
}

.tit_page {
    background: url(../common_img/bgmain.png) no-repeat center;
    width: 100%;
    position: relative;
    z-index: 2;
    height: 180px;
    text-align: center;
    h5{
        text-align: center;
        //color: $color-darkblue;
        font-size: 36px;
        line-height: 180px;
    }
}

// .cd-trigger h4{
//     @include mobile-only {
// 		font-size: 10px;
//     }
//     @include mobile-landscape {
// 		font-size: 15px;
//     }
//     @include tablet-portrait {
// 		font-size: 30px;
//     }
//     @include tablet-landscape {
// 		font-size: 45px;
//     }
//     @include desktop {
//         font-size: 60px;
//     }
// }

/*==========================================
■HOME
============================================*/








