/*====================================================================================
■01.GIRD FLEX
====================================================================================*/
.flexrowbetween{
    display: flex;
    display: -webkit-flex; /* Safari */
    display: -moz-flex; /* Firefox */
    display: -ms-flex; /* IE */
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-flex-wrap: wrap; 
    -moz-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
	flex-wrap: wrap;
    -webkit-flex-direction: row; 
    -moz-flex-direction: row; 
    -ms-flex-direction: row; 
    flex-direction: row;
}

.flexrowcenter{
    display: flex;
    display: -webkit-flex; /* Safari */
    display: -moz-flex; /* Firefox */
    display: -ms-flex; /* IE */
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-flex-wrap: wrap; 
    -moz-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
	flex-wrap: wrap;
    -webkit-flex-direction: row; 
    -moz-flex-direction: row; 
    -ms-flex-direction: row; 
    flex-direction: row;
}

/*align-items*/
.flex_alignstart{
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
}
.flex_alignend{
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
}
.flex_alignstretch{
    align-items: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
}
.flex_alignbaseline{
    align-items: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
}
.flex_aligncenter{
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
.flex_alignini{
    align-items: initial;
    -webkit-align-items: initial;
    -moz-align-items: initial;
    -ms-align-items: initial;
}

/*====================================================================================
■01.BREADCRUMB
====================================================================================*/
#breadcrumb {
    background: none;
    display: block;
}
#breadcrumb ul {
    background: none;
    height: 90px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 15px;
}
#breadcrumb ul li {
    font-size: 13px;
    margin-right: 10px;
    background: url(../common_img/arrow_li.png) no-repeat left 4px;
    padding-left: 14px;
    padding-top: 2px;
    float: left;
    width: inherit;
    border-right: 0;
}
#breadcrumb ul li:first-child {
    background: url(../common_img/iconhome.png) no-repeat left center;
    padding-left: 20px;
}
#breadcrumb ul li:first-child a {
    color: #077bdd;
}