@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap/scss/bootstrap-grid';
@import "normalize";
@import "variables";
@import "modules";
@import "typography";
@import "layout";

// Responsive
@import "mobile";
@import "tablet";
@import "desktop";

/*====================================================================================
■01.OTHER
====================================================================================*/
.pull_left{float: left;}
.pull_right{float: right;}
.text_left { text-align:left !important; }
.text_right { text-align:right !important; }
.text_center { text-align:center !important;}
.text_justify { text-align:justify !important;}
.text_nowrap { white-space:nowrap !important;}
.text_lower { text-transform:lowercase!important; }
.text_upper { text-transform:uppercase!important; }
.text_capitalize { text-transform:capitalize !important;}
.text_normal { font-weight:normal !important; }
.text_bold { font-weight:bold !important; }
.text_line {text-decoration: underline;}
.text_noline {text-decoration: none !important;}
.text_over {overflow: hidden !important;}

.fz10 {font-size: 10px !important;}
.fz11 {font-size: 11px !important;}
.fz12 {font-size: 12px !important;}
.fz13 {font-size: 13px !important;}
.fz14 {font-size: 14px !important;}
.fz15 {font-size: 15px !important;}
.fz16 {font-size: 16px !important;}
.fz17 {font-size: 17px !important;}
.fz18 {font-size: 18px !important;}
.fz19 {font-size: 19px !important;}
.fz20 {font-size: 20px !important;}
.fz22 {font-size: 22px !important;}
.fz24 {font-size: 24px !important;}

.lhnm { line-height:normal!important;}
.lh00 { line-height:0 !important;}
.lh12 { line-height:1.2 !important;}
.lh13 { line-height:1.3 !important;}
.lh14 { line-height:1.4 !important;}
.lh15 { line-height:1.5 !important;}
.lh16 { line-height:1.6 !important;}
.lh17 { line-height:1.7 !important;}
.lh18 { line-height:1.8 !important;}
.lh20 { line-height:2 !important;}
.lh23 { line-height:2.3 !important;}

/*====================================================================================
■02.PAGE UP
====================================================================================*/
.page_up {
    position: relative;
    float: right;
    bottom: 50px;
    right: -100px;
}

.cd-top {
  display: inline-block;
  height: 40px;
  cursor: pointer;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 50px;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../common_img/page_up2.png) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  transition: all 0.3;
}
.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  opacity: .9;
}

.pagetop  {
    position: fixed;
    right:8%;
    bottom:23%;
}
.page_top_cont {
    width:1100px;
    position:fixed; 
    bottom:20px; 
    z-index:100;
}
.page_top_cont .page_top {
    max-width:100%; 
    max-width: 1200px;
    margin:0 auto; 
    text-align:right; 
    position:relative
}
.page_top_cont .page_top .to_top {
    display:block; 
    text-align:center; 
    position:absolute; 
    bottom:0; 
    right:15px; 
    cursor:pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    zoom: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;}

/*====================================================================================
■03.BTN HOVER
====================================================================================*/
.btnhover {
    display: inline-block;
    text-transform: uppercase;
    background: #fff;
    font-weight: bold;
    position: relative;
    transition: color 0.25s ease;
    border: 1px solid #000;
    a{
        text-decoration: none;
        color: #000;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        width: 300px;
        height: 60px;
        display: inline-block;
        line-height: 60px;
        z-index: 2;
        &:after{
            position: absolute;
            content: "\f105";
            right: 5%;
            top: -1px;
            font-family: FontAwesome;
            font-size: 20px;
            font-weight: normal;
        }
    }
}

.btnhover:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #000;
    transform-origin: left;
    transition: width 0.25s ease;
    z-index: 1;
}

.btnhover:hover:after {
    width: 100%;
}

.btnhover:hover{
    border: 1px solid #000;
    a{
        color: #fff;
    }
}

.ahover{
    position: relative;
    a:before, a:after {
      position: absolute;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }
    a:before {
      bottom: 10px;
      display: block;
      height: 3px;
      width: 0%;
      content: "";
      background-color: #000;
    }
    a:after {
      left: 0;
      top: 0;
      position: absolute;
      content: "";
      overflow: hidden;
        display: none;
    }
    a:hover{
        opacity: 1;
    }
    a:hover:before {
      opacity: 1;
      width: 100%;
    }
}

/*====================================================================================
■08.HEADER
====================================================================================*/
.fontyu{font-family: "游ゴシック体", "Yu Gothic", YuGothic, "MS PGothic", sans-serif;}
.fontmin{font-family: Garamond , "Times New Roman" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "游明朝" , "Yu Mincho" , "游明朝体" , YuMincho, "HGS明朝E" , "ＭＳ Ｐ明朝", "MS PMincho", serif;}

h1{
    line-height: 40px;
    color: #ccc;
    font-size: 11px;
}

header {
    background: none;
}

/*====================================================================================
■09.GOLABLE NAVIGATION
====================================================================================*/
nav {
    background: none;
}

/*==========================================
■10.FOOTER
====================================================================================*/
footer {
    height: 1000px;
}

/*==========================================
■11.CRUMB
====================================================================================*/
.crumb{
    height: 60px;
    box-sizing: border-box;
    li{
        font-size: 12px;
        margin-right: 10px;
        background: url(../common_img/arrow_li.png) no-repeat left 5px;
        padding-left: 14px;
    }
    .home{
        background: url(../common_img/icon_home.png) no-repeat left center;
        padding-left: 30px;
    }
}


@media print, screen and (max-width: 1024px) {
    .container, article{ 
        padding: 0 3%;
    }
}

@media print, screen and (max-width: 767px) {
    .dis_pc{display: none;}
    .dis_sp{display: block;}
}

@media print, screen and (min-width: 768px) {
    .dis_pc{display: block;}
    .dis_sp{display: none;}  
}