/*==================================
■OTHER
====================================*/
.pull_left{float: left;}
.pull_right{float: right;}
.text_left { text-align:left !important; }
.text_right { text-align:right !important; }
.text_center { text-align:center !important;}
.text_justify { text-align:justify !important;}
.text_nowrap { white-space:nowrap !important;}
.text_lower { text-transform:lowercase!important; }
.text_upper { text-transform:uppercase!important; }
.text_capitalize { text-transform:capitalize !important;}
.text_normal { font-weight:normal !important; }
.text_bold { font-weight:bold !important; }
.text_line {text-decoration: underline;}
.text_noline {text-decoration: none !important;}
.text_over {overflow: hidden !important;}

.fz10 {font-size: 10px !important;}
.fz11 {font-size: 11px !important;}
.fz12 {font-size: 12px !important;}
.fz13 {font-size: 13px !important;}
.fz14 {font-size: 14px !important;}
.fz15 {font-size: 15px !important;}
.fz16 {font-size: 16px !important;}
.fz17 {font-size: 17px !important;}
.fz18 {font-size: 18px !important;}
.fz19 {font-size: 19px !important;}
.fz20 {font-size: 20px !important;}
.fz22 {font-size: 22px !important;}
.fz24 {font-size: 24px !important;}

.lhnm { line-height:normal!important;}
.lh00 { line-height:0 !important;}
.lh12 { line-height:1.2 !important;}
.lh13 { line-height:1.3 !important;}
.lh14 { line-height:1.4 !important;}
.lh15 { line-height:1.5 !important;}
.lh16 { line-height:1.6 !important;}
.lh17 { line-height:1.7 !important;}
.lh18 { line-height:1.8 !important;}
.lh20 { line-height:2 !important;}
.lh23 { line-height:2.3 !important;}